$gridContainerWidth: 1200px;
$gridBreakPoint: 640px;
$gridColumns: 12;

$secondaryFontColor: rgb(119,119,119);
$detailsColor: rgb(124, 197, 118);

$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Roboto Slab', serif;
